!**/*.c 
!**/*.h
!**/*.cpp
**/*.log
**/*.plg
**/*.bak
**/*.dep
*.uvgui.*
*.uvguix.*
JLinkLog.txt
**/*.o
**/*.d
**/*.crf
**/*.tra
**/*.axf
**/*.lnp
**/*.sct
**/*.__i
**/*.htm
/USER/DebugConfig/
/OBJ/*
   
   
#*.dbgconf
*.scvd
*.ini
